.progress-bar-container {
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.progress-bar-circle {
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.progress-bar-circle::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
}

.progress-bar-circle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index:1000;
}