.timer-container {
  position: absolute;
  top: 40px;
  width: 200px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: white;
  z-index: 1000;
}

.timer-container.hidden {
  z-index: 0;
}

.timer-focus-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 12px;
}

.timer-current-focus-item.breaktime {
  color: #981eb7;
}

.timer-focus-item-container button {
  position: absolute;
  bottom: -30px;
  right: 24px;
}

.timer-cta-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

button {
  color: orange;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

h4 {
  color: #fb8500;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  max-width: 100%;
  max-height: 30px;
  padding: 4px;
  overflow-y: scroll;
  max-height: 60px;
  margin: 0;
}

h5 {
  color: #fb8500;
  font-size: 12px;
  text-align: center;
  height: 30px;
  max-width: 70%;
  padding: 4px;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 0;
  opacity: 0.5;
}