.ticker-tape-container {
  padding: 0;
  margin: 0;
}

.ticker-tape-container h4 {
  padding: 0;
  margin: 0;
  height: 30px; 
  overflow: hidden;
  position: relative;
  border: 1px solid blue;
}

.ticker-tape-focus-item-name {
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  border: 1px solid red;
  padding: 0 8px;
  margin: 0;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%); 
  transform:translateX(100%);
  /* Apply animation to this element */ 
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 1s linear infinite;
  animation: scroll-left 10s linear infinite;
}


@-moz-keyframes scroll-left {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
  0% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
  }

  100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
  }
}